html {
    height: -webkit-fill-available;
    color: white;
    text-shadow: 0px 0px 1em black;
    background-color: rgb(50, 50, 50);
    margin: 0;
}
body {
    display: grid;
    align-content: space-between;
    height: 100%;
    margin: 0;
}
body header, body main, body footer {
    padding-left: 3%;
    padding-right: 3%;
}
main {
    align-self: top;
    min-height: 0;
}
.noSelect {
    -webkit-user-select: none;
    user-select: none;
}
/*
 * Header and Footer CSS
 */
header, footer {
    box-shadow: 0px 0px 2em black;
    background-color: rgb(40, 40, 40);
    display: flex;
    justify-content: space-between;
}
header nav, footer nav {
    user-select: contain;
    flex-direction: row-reverse;
    width: -webkit-fill-available;
    display: inherit;
    column-count: 2;
}
header nav > *, footer nav > * {
    padding-left: 1em;
}
header h1, header a, footer h1, footer a {
    text-decoration: none;
    white-space: nowrap;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    font-size: 2.4vh;
    text-align: center;
    font-weight: bold;
}
header h1, footer h1 {
    background: -webkit-linear-gradient(rgb(255, 50, 50), rgb(150, 0, 60));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav a.Discord {
    background: -webkit-linear-gradient(rgb(0, 100, 255), rgb(160, 80, 200));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav a.Bot {
    background: -webkit-linear-gradient(rgb(0, 247, 255), rgb(0, 128, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav a.Games {
    background: -webkit-linear-gradient(rgb(255, 180, 40), rgb(200, 80, 200));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav a.jygttgyy {
    background: -webkit-linear-gradient(rgb(255, 170, 0), rgb(255, 0, 200));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav a.Antasma {
    background: -webkit-linear-gradient(rgb(255, 150, 150), rgb(255, 20, 20));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}